#board {
    width: 640px;
    height: 480px;
    margin: auto;
    position: relative;
    background-color: #8cd;
    background-image: url(images/rc2000.png);
    background-position: center;
    background-repeat: no-repeat;
}